header {
    top:0;
    position: -webkit-sticky;
    position: sticky;
    height: 45px;
    background-color: var(--grey_color);
    display: flex;
    align-items: center;
    justify-content: end;
    z-index: 100;
}

header ul {
    display: flex;
    margin-right: 2vw;
    list-style: none;
}

header ul li {
    margin-left: 2vw;
}

header a {
    text-decoration: none;
    color: var(--eerie_black);
}