
main div {
    transform: translate(0px, 120px);
}


main div[data-scroll="in"] {
    transition: 1s;
    transform: translate(0px, 0px);
}

.a1 {
    background: url(./courses/a1/pic_a1.webp) no-repeat;
    background-size: cover;
}

.a2 {
    background: url(./courses/a2/pic_a2.webp) no-repeat;
    background-size: cover;
}

.b1 {
    background: url(./courses/b1/pic_b1.webp) no-repeat;
    background-size: cover;
}

.b2 {
    background: url(./courses/b2/pic_b2.webp) no-repeat;
    background-size: cover;
}

div {
    height: 10em;
    margin: 0.5em;
}

h1 {
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    margin-left: 5px;
}